/*

Theme Name: exist-child

Theme URI: http://pavodemo.com/wpopal/exist-landing/
Description: The Exist Multi Purpose WooCommerce theme for WordPress is a fully responsive theme that looks great on any device. Features include a front page template with its own widgets, an optional display font, styling for post formats on both index and single views, and an optional no-sidebar page template. Make it yours with a custom menu, header image, and background.

Author: the WPOpal team

Author URI: http://wpopal.com/

Template: exist

Version: 1.0 Release 29-09-2014

License: GNU General Public License v2 or later

License URI: http://www.gnu.org/licenses/gpl-2.0.html

Tags: light, gray, white, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready

Text Domain: bigshop



This theme, like WordPress, is licensed under the GPL.

Use it to make something cool, have fun, and share what you've learned with others.

*/

/*Img Fix*/
img { height: auto; }

.wp-caption{}



.wp-caption-text{}



.sticky{}



.gallery-caption{}



.bypostauthor{}



.alignright{}



.alignleft{}



.aligncenter{}

.wpo-header.menu_fixed {
	-webkit-transition: top 0.6s;
	-o-transition: top 0.6s;
	transition: top 0.6s;
	top: 0;
	width: 100%;
	position: fixed;
	background-color: #F2C3C3;

}

#mainNavContianerCD {
	background-image: url(/wp-content/themes/exist/images/bg/MenuL-BG.png), -webkit-linear-gradient(270deg,rgba(0,149,205,1.00) 0%,rgba(11,59,111,1.00) 100%);
	background-image: url(http://beta.bennetttrimtabs.com/wp-content/themes/exist/images/bg/MenuL-BG.png), -moz-linear-gradient(270deg,rgba(0,149,205,1.00) 0%,rgba(11,59,111,1.00) 100%);
	background-image: url(http://beta.bennetttrimtabs.com/wp-content/themes/exist/images/bg/MenuL-BG.png), -o-linear-gradient(270deg,rgba(0,149,205,1.00) 0%,rgba(11,59,111,1.00) 100%);
	background-image: url(http://beta.bennetttrimtabs.com/wp-content/themes/exist/images/bg/MenuL-BG.png), linear-gradient(180deg,rgba(0,149,205,1.00) 0%,rgba(11,59,111,1.00) 100%);
	background-repeat: no-repeat;
}


#headerCD {
	max-width: 1150px;
	background-color:#06BFF1;
	margin-left: auto;
	margin-right: auto;
}


#topBarCD {
	max-width: 1150px;
	margin-left: auto;
	margin-right: auto;

}

.HeaderH3tweak {
	font-weight:100;

}

#menu-item-4098	{
	margin-top: -5px;
	margin-bottom: -5px;

}

/*Trim tab row*/
#menu-item-3994 {
padding:0px;
	
}

#submenu-title {
	font-size: 30px;
	font-weight: 400;
	color: #34adff;
	
} 

.ubermenu .ubermenu-submenu {
  z-index: 999; !important
}

/*Video Gallery Titles (Visual Composer class Name)*/
.wpb_heading.wpb_video_heading {
font-weight: 600;
font-size: 14px;
}

/* about Us Text*/
.AboutUsText {
font-weight: 300;
font-size: 28px;
}

/* Annoying blue outline fix on main menu links*/
#headerCD a {
	outline-color: transparent;
	outline-width: 0px;	
}

#topBarCD a {
	outline-color: transparent;
	outline-width: 0px;	
}

/* Search Results Fix */
.search-results .post-area .entry-thumb {
	width: 500px;
}
.search-results .entry-meta { display: none; }