/* WebStrike Menu BG Fix */
body #ubermenu-main-303 {
  z-index: 50;
  background-image: url(/wp-content/uploads/2014/11/BennettHeaderLogoBG.png), -webkit-linear-gradient(270deg,rgba(0,149,205,1.00) 0%,rgba(11,59,111,1.00) 100%);
  background-image: url(/wp-content/uploads/2014/11/BennettHeaderLogoBG.png), -moz-linear-gradient(270deg,rgba(0,149,205,1.00) 0%,rgba(11,59,111,1.00) 100%);
  background-image: url(/wp-content/uploads/2014/11/BennettHeaderLogoBG.png), -o-linear-gradient(270deg,rgba(0,149,205,1.00) 0%,rgba(11,59,111,1.00) 100%);
  background-image: url(/wp-content/uploads/2014/11/BennettHeaderLogoBG.png), linear-gradient(180deg,rgba(0,149,205,1.00) 0%,rgba(11,59,111,1.00) 100%);
  background-repeat: no-repeat;
}

/* Store Locator Update */
.wpb_content_element.ws-store-nav {
  font-size: 0;
}
.ws-nav-item, .ws-icon, .ws-label {
  display: inline-block;
  vertical-align: middle;
}
.ws-nav-item {
  font-size: 19px;
  text-align: center;
  padding: 18px 0;
  width: 25%;
  cursor: pointer;
}
.ws-nav-item.active { background-color: #E6E6E6; }
.ws-icon { padding-right: 5px; }
.ws-label { font-family: 'Arial', sans-serif; }

#browser-alert.show { display: block; }
#browser-alert {
  background-color: #00B0FF;
  color: #fff;
  display: none;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 777;
  -webkit-transition: top .2s linear;
  -ms-transition: top .2s linear;
  transition: top .2s linear;
}
#browser-alert .close {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  text-shadow: none;
  top: 50%;
  margin-top: -12px;
}
#browser-alert span { display: block; }

@media screen and (max-width: 992px) {
  .ws-icon {
    display: block;
    margin: 0 auto;
  }

  #browser-alert { padding: 10px 50px; }
  #browser-alert span { display: inline; }
}

@media screen and (max-width: 768px) {
  .ws-nav-item {
    display: block;
    width: 100%;
  }
  .ws-icon { display: inline-block; }
}

@media screen and (max-width: 600px) {
  .row .ws-no-mb { margin-bottom: 0; }
}

/* Store Locator  */
.results_wrapper .results_row_right_column { width: auto; }
.results_wrapper div.results_entry a { display: inline; }

.results_wrapper.nav-sort {
  color: #000;
  font-weight: bold;
  line-height: 50px;
  text-transform: uppercase;
}
.nav-sort > .results_entry { padding-bottom: 0; }