<div id="DealerCatColumn"><img class="DealerCategoryIcon" src="http://beta.bennetttrimtabs.com/wp-content/uploads/2014/10/Legend-Pin.png" alt="Retail Locations" width="42" height="42" /><a href="/find-dealers-distributors-list-view/#AHAGbfXQ"><span class="DealerCategories">Retail Locations</span></a></div>
<div id="DealerCatColumn"><a href="#"><img class="DealerCategoryIcon" src="http://beta.bennetttrimtabs.com/wp-content/uploads/2014/10/Legend-Cart.png" alt="Online Stores" width="42" height="42" /></a><a href="/find-dealers-distributors-list-view/#NeFIdZeN"><span class="DealerCategories">Online Stores</span></a></div>

<div id="DealerCatColumn"><img class="DealerCategoryIcon" src="http://beta.bennetttrimtabs.com/wp-content/uploads/2014/10/Legend-Distrib.png" alt="Wholesale Distributors" width="42" height="42" /><span class="DealerCategories">Distributors <a href="/find-dealers-distributors-list-view/#JqgxdEuc">US</a> | <a href="/find-dealers-distributors-list-view/#tOheGgZr">International</a></span></div>