    <a href="#SLTopAnchor"> 

<div id="slp_results_[slp_location id]" class="results_entry  [slp_location featured]">
    
    <div class="results_row_lefticon_column">
    [slp_location iconarray]
    </div>
    
    <div class="results_row_left_column"   id="slp_left_cell_[slp_location id]"   >
    
    <span class="location_name">									
   	[slp_location name]</span><span class="location_distance">[slp_location distance_1] [slp_location distance_unit]</span>
    </div>

	<div class="results_row_center_column" id="slp_center_cell_[slp_location id]" ><span class="slp_result_address slp_result_street">		
    [slp_location address]</span><span class="slp_result_address slp_result_street2">[slp_location address2]</span><span class=	
    "slp_result_address slp_result_citystatezip">[slp_location city_state_zip]</span><span class="slp_result_address slp_result_country">
    [slp_location country]</span>
    </div>
    
    <div class="results_row_phone_column">Phone: [slp_location phone] <br>Fax: [slp_location fax]</div>
    <div class="results_row_right_column">[slp_location hours]</div>
  
    </div>
    
 </div>
 
 </a>