<div id="CDSearchcontainer">

	<div id="CDSearchRow1">

		<div id="CDSearchAddress">
		[slp_search_element input_with_label="address"]
		</div>
        
         <div id="CDSearchOR">
         <img class="alignnone wp-image-4281 size-full" src="/wp-content/uploads/2014/12/OR-a.png" alt="OR" width="43" height="43" />
        </div>

		<div id="CDSearchName">
		[slp_search_element input_with_label="name"]
		</div>
    
  	 	<div id="CDSearchSubmit">
   	 	[slp_search_element button="submit"]
   	 	</div>
    
 	</div>
    
    <div id="CDSearchRow2">
    	<div id="CDSearchFilters">
		[slp_search_element dropdown_with_label="radius"]
        </div>
        
        <div id="CDSearchFilters">
		[slp_search_element dropdown_with_label="category"]
        </div>
        
        <div id="CDSearchFilters">
		[slp_search_element dropdown_with_label="state"]
        </div>
        
        <div id="CDSearchFilters">
		[slp_search_element dropdown_with_label="country"]
        </div>
        
        <div id="CDSearchFilters">
		[slp_search_element dropdown_with_label="city"]
        </div>
        
        <div id="CDSearchFilters">
	    <a href="/find-a-dealer/">Reset Search</a> </div> 
    
  </div>
  <a id="SLTopAnchor"></a>

</div>